.conteiner_icon_chevron_left {
    position: absolute;
    top: 355px;
    left: -30px;

    cursor: pointer;
    z-index: 20;

    @media screen and (min-width: 1280px) {
        top: 313px;
        left: 50px;
    }
}

.conteiner_icon_chevron_right {
    position: absolute;
    top: 355px;
    right: -30px;

    rotate: 180deg;

    cursor: pointer;
    z-index: 20;

    @media screen and (min-width: 1280px) {
        top: 313px;
        right: 50px;
    }
}