@import '/src/assets/css/styles.scss';

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;

    @media screen and (min-width: 1280px) {
        width: 1280px;
        align-items: flex-end;
    }

    @media screen and (min-width: 1440px) {
        width: 1440px;
    }
}

.error_text {
    cursor: pointer;

    :hover {
        text-decoration-line: underline;
    }
}