@import '/src/assets/css/styles.scss';

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;

    @media screen and (min-width: 1280px) {
        align-items: flex-end
    }

    @media screen and (min-width: 1439px) {
        width: 1440px;
    }
}