.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 320px) {
        gap: 20px;
    }

    @media screen and (min-width: 768px) {
        gap: 36px;
    }
}

.wrapper_name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    @media screen and (min-width: 320px) {
        gap: 16px;
    }

    @media screen and (min-width: 768px) {
        gap: 18px;
        width: 611px;
    }

    @media screen and (min-width: 1280px) {
        width: 665px;
    }

}

.text_family {
    color: var(--primary-color);
}

.text_other {
    color: var(--other-lawyers-color);
}

.text_army {
    color: #536641;
}

.text_criminal {
    color: #3F2E64;
}

.lable {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media screen and (min-width: 320px) {
        gap: 16px;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.container_button_service {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1px;
    border: 2px solid;
    background: linear-gradient(to right, #E32F7A, #912E6F, #3F2E64);
    border-radius: 4px;
    z-index: 15;
}

.border_family {
    max-height: 114px;
    padding: 2px;
    position: relative;
    border-radius: 4px;
    transition: all 0.4s;
    z-index: 14;
    background-image: linear-gradient(to right, #E32F7A, #912E6F, #3F2E64),
        linear-gradient(to right, #E32F7A, #912E6F, #3F2E64);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;

    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        bottom: 0;
        width: 21px;
        border: 2px solid #E32F7A;
        border-right: none;
        border-radius: 4px 0 0 4px;
    }

    &:after {
        border: 2px solid #3F2E64;
        border-left: none;
        left: auto;
        right: 0;
        border-radius: 0 4px 4px 0;
    }
}

// other

.border_other {
    max-height: 114px;
    padding: 2px;
    position: relative;
    border-radius: 4px;
    transition: all 0.4s;
    z-index: 14;
    background-image: linear-gradient(to right, #E32F7A 0%,
        #F16E74 42%,
        #FBB663 81%),
        linear-gradient(to right, #E32F7A 0%,
            #F16E74 42%,
            #FBB663 81%);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;

    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        bottom: 0;
        width: 21px;
        border: 2px solid #E32F7A;
        border-right: none;
        border-radius: 4px 0 0 4px;
    }

    &:after {
        border: 2px solid #FBB663;
        border-left: none;
        left: auto;
        right: 0;
        border-radius: 0 4px 4px 0;
    }
}

// border army

.border_army {
    max-height: 114px;
    padding: 2px;
    position: relative;
    border-radius: 4px;
    transition: all 0.4s;
    z-index: 14;
    background-image: linear-gradient(to right, #536641, #3F2E64),
        linear-gradient(to right, #536641, #3F2E64);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;

    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        bottom: 0;
        width: 21px;
        border: 2px solid #536641;
        border-right: none;
        border-radius: 4px 0 0 4px;
    }

    &:after {
        border: 2px solid #3F2E64;
        border-left: none;
        left: auto;
        right: 0;
        border-radius: 0 4px 4px 0;
    }
}

// ---------------------------------
.input {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-text);
    border: none;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    outline: transparent;

    @media screen and (min-width: 320px) {
        width: 280px;
        height: 49px;
        padding: 10px 8px;
    }

    @media screen and (min-width: 768px) {
        width: 610px;
        padding: 10px 8px;
        font-size: 16px;
    }

    @media screen and (min-width: 1440px) {
        width: 652px;
        height: 57px;
    }

    &::placeholder {
        color: #C3BCBC;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        white-space: break-spaces;

        @media screen and (min-width: 320px) {
            font-size: 13px;
        }

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }

        @media screen and (min-width: 1280px) {}

        @media screen and (min-width: 1440px) {
            font-size: 18px;
        }
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.textarea {
    background: var(--color-text);
    resize: none;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 16px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width: 320px) {
        width: 280px;
        height: 110px;
        padding: 23px 13px 13px 13px;
    }

    @media screen and (min-width: 768px) {
        width: 610px;
        height: 110px;
        padding: 35px 15px 15px 15px;
        font-size: 18px;
    }

    @media screen and (min-width: 1440px) {
        width: 656px;
        padding: 30px 15px 15px 15px;
    }

    &::placeholder {
        color: #C3BCBC;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: "Montserrat";

        @media screen and (min-width: 320px) {
            font-size: 13px;
        }

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }

        @media screen and (min-width: 1440px) {
            font-size: 18px;
        }
    }

    &:focus::placeholder {
        color: transparent;
    }

    &:focus {
        padding: 10px 15px;
    }
}

.conteiner_radio_groupe {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    @media screen and (min-width: 320px) {
        gap: 12px;
    }
}

.second_input {
    @media screen and (min-width: 320px) {
        width: 280px;
        height: 49px;
        padding: 10px 8px;
    }

    @media screen and (min-width: 768px) {
        width: 610px;
        height: 57px;
        padding: 18px 15px;
    }

    @media screen and (min-width: 1440px) {
        width: 656px;
    }
}

.two_input {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;


    @media screen and (min-width: 320px) {
        width: 280px;
        height: 49px;
        padding: 14px 0px 13px 80px;
    }

    @media screen and (min-width: 768px) {
        width: 610px;
        height: 57px;
        padding: 14px 0px 14px 80px;
    }

    @media screen and (min-width: 1280px) {
        padding: 14px 0px 15px 80px;
    }

    @media screen and (min-width: 1440px) {
        width: 656px;
        padding: 18px 0px 18px 80px;
    }
}



.btn_wrapper {
    position: relative;
    border-radius: 4px;
    z-index: 5;


    @media screen and (min-width: 320px) {
        width: 209px;
        height: 39px;
        margin-top: 12px;
    }

    @media screen and (min-width: 768px) {
        width: 290px;
        height: 52px;
    }

    @media screen and (min-width: 1280px) {
        width: 311px;
        height: 54px;
        margin-top: 30px;
    }

    @media screen and (min-width: 1440px) {
        width: 345px;
        height: 66px;
    }
}

.conteiner_name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 320px) {
        gap: 30px;
    }

    @media screen and (min-width: 768px) {
        gap: 50px;
        flex-direction: row;
    }
}

.conteiner_radio {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 17px;
}

.lable_radio {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width: 320px) {
        font-size: 14px;
        width: 248px;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
        width: 600px;
    }
}

.check_color_border_family {
    background: linear-gradient(to right, #E32F7A 0%, #912E6F 50%, #3F2E64 100%);
}

.check_color_border_other {
    background: linear-gradient(to right, #E32F7A 0%,
        #F16E74 42%,
        #FBB663 81%);
}

.check_color_border_army {
    background: linear-gradient(to right, #536641 0%, #3F2E64 100%);
}


.check_border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.check_border_befor {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: #F8F5F5;
}

// -------- femily check color type
.lable_radio_check {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 50%;
}

.lable_radio_check:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #E32F7A 0%, #912E6F 50%, #3F2E64 100%);
}

.radio_btn:checked+.lable_radio_check:before {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

// -------- army check color type
.lable_radio_check_army {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 50%;
}

.lable_radio_check_army:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #536641 0%, #3F2E64 100%);
}

.radio_btn:checked+.lable_radio_check_army:before {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

// ------- other check color type
.lable_radio_check_other {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 50%;
}

.lable_radio_check_other:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #E32F7A 0%,
        #F16E74 42%,
        #FBB663 81%);
}

.radio_btn:checked+.lable_radio_check_other:before {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.radio_btn {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.select {
    position: relative;
}

.options_conteiner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    width: 100%;
    height: 100%;

    gap: 2px;

    bottom: -50px;
    left: 0;

    z-index: 10;

    @media screen and (min-width: 768px) {
        bottom: -58px;
    }
}

.options {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 29px;

    padding: 20px;

    text-align: start;

    outline: none;
    border: none;

    border-radius: 4px;

    color: var(--secondary-color);
    background-color: var(--color-text);

    transition: all 0.3s;

}

.options_family:hover {
    color: var(--primary-back);
    background-color: var(--primary-color);
}

.options_other:hover {
    color: var(--primary-back);
    background-color: var(--other-lawyers-color);
}

.options_army:hover {
    color: var(--primary-back);
    background-color: #536641;
}

.options_family:hover {
    color: var(--primary-back);
    background-color: #3F2E64;
}

.conteiner_icon {
    z-index: 14;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 12px;

    width: 20px;
    height: 20px;


    @media screen and (min-width: 768px) {
        top: 18px;
        right: 18px;
    }

    @media screen and (min-width: 1280px) {
        width: 24px;
        height: 24px;
        top: 16px;
        right: 36px;
    }
}

.icon {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.options_icon {
    margin-right: 20px;
}

.error_icon_service {
    color: #661135;
}

.error_icon {
    color: #661135;
}

.error_name {
    position: absolute;
    top: -32px;
    left: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    z-index: 14;

    @media screen and (min-width: 768px) {
        top: -36px;
        left: 230px;
    }

    @media screen and (min-width: 1440px) {
        top: -37px;
        left: 255px;
    }
}

.error_surname {
    position: absolute;
    top: 102px;
    left: 110px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    z-index: 14;

    @media screen and (min-width: 768px) {
        top: 18px;
        left: 466px;
    }

    @media screen and (min-width: 1440px) {
        top: 21px;
        left: 504px;
    }
}


.error_textarea {
    position: absolute;
    top: -32px;
    left: 115px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    z-index: 14;

    @media screen and (min-width: 768px) {
        top: -36px;
        left: 145px;
    }

    @media screen and (min-width: 1440px) {
        top: -37px;
        left: 160px;
    }
}

.error_phone {
    position: absolute;
    top: 19px;
    left: 237px;
    z-index: 14;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        top: 22px;
        left: 260px;
    }

    @media screen and (min-width: 1440px) {
        top: 21px;
        left: 275px;
    }
}

.error_phone_icon {
    position: absolute;
    top: -31px;
    left: 210px;
    z-index: 14;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    @media screen and (min-width: 768px) {
        top: -36px;
        left: 510px;
    }

    @media screen and (min-width: 1440px) {
        top: -37px;
        left: 570px;
    }
}

.error_message {
    position: absolute;
    top: -31px;
    left: 98px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    z-index: 14;

    @media screen and (min-width: 768px) {
        top: -35px;
        left: 120px;
    }

    @media screen and (min-width: 1440px) {
        top: -36px;
        left: 135px;
    }
}

.error_services {
    position: absolute;
    top: 2px;
    left: 127px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    @media screen and (min-width: 768px) {
        top: 5px;
        left: 162px;
    }

    @media screen and (min-width: 1440px) {
        top: 6px;
        left: 180px;
    }
}

.error_input {
    background-color: #661135;

    &::placeholder {
        color: white;
    }
}

.loader_container {
    position: absolute;
    left: 2px;
    top: 2px;
    background: #F8F5F5;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    z-index: 16;
    @media screen and (min-width: 320px) {
        width: 205px;
        height: 35px;
    }
    @media screen and (min-width: 768px) {
        width: 286px;
        height: 48px;
    }
    @media screen and (min-width: 1280px) {
        width: 307px;
        height: 50px;
    }
    @media screen and (min-width: 1440px) {
        width: 341px;
        height: 62px;
    }
}

.loader {
    @media screen and (min-width: 320px) {
        width: 30px;
    }
    @media screen and (min-width: 768px) {
        width: 54px;
    }
}